$primary-color: #ff6d18;
$primary-color-light: #ffe2d1;
$primary-color-dark: #ff8a46;
$secondary-color: #777777;
$black: #111;
$white: #fff;
$background-color: #ffefe1;
$icon-color: #ff6d18;
$text-color: #112a46;
$secondary-color: #777777;
$black: #000;
$white: #fff;
