$primary-color: #FF6D18;
$container-color: #D9D9D933;
$login-bg-color: linear-gradient(136deg, #FF6D18 16%, rgba(216, 201, 193, 0.8) 100%);
$text-color: #666666;
$text-family: 'Averia Serif Libre';
$white-color: #FFFFFF;
$border-color: #D9D9D9;