.not-found{
  display: flex;
  align-items: center;
  flex-direction: column;

  .not-found-img img{
    width: 40vw;
  }
  .not-found-text{
     font-family: $text-family;
     font-weight: 700;
     font-size: 1.2rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
     text-align: center;
     line-height: 1.5;
     letter-spacing: 0.05em;
     color: $text-color;
     text-decoration: none;
     transition: all 0.3s ease-in-out;
  }
  .btn-link{
      border: none;
      background-color: $primary-color;
      padding: 1rem 4rem;
      text-decoration: none;
      color: $white-color;
      font-family: $text-family;
      font-weight: 700;
      font-size: 1.2rem;
      border-radius: 2rem;
      cursor: pointer;
  }

  .btn-link:hover{
      background-color: $white-color;
      color: $primary-color;
      border: 1px solid $border-color;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      transition: all 0.3s ease-in-out;
  }
}
.landingPage {
    background: $primary-color;
    color: $white-color;
    padding: 20px;
  
    h1 {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
