@import "./Colors";

.landing-container {
  padding: 3rem 2rem 4rem 5rem;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $black-3;
    font-size: 1.8rem;
    background-color: $primary-color-light;
    border: 1px solid $primary-color-dark;
    border-radius: 0.5rem;
    padding: 2rem;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 3.6rem;
    }
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 1.7rem;
  }
}
