@import "./Colors";

.landingPage {
  background: $primary-color;
  color: white;
  padding: 2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.container__button {
  padding: 3.2rem;
}
