@import "./Colors";

.product-search {
  display: flex;
  flex-direction: column;
  height: 65px;
  background-color: $container-color;
  border-bottom: 1px solid #ccc;

  .main-content-product {
    display: flex;

    .right-side-bar {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      height: 40px;
    }

    .searchPrice-box {
      display: flex;
      align-items: center;
      width: 80rem;
      height: 56px;
   padding-top: 10px;
   padding-bottom: 10px;
      line-height: 40px;
      margin-left: 5px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .product-name {
        font-size: 20px;
        margin-right: 10px;
        width: 30rem;
      }

      .searchSpan-price {
        margin: 0 6px 0 4px;
        line-height: 30px;
        font-size: 20px;
        vertical-align: middle;
        display: inline-block;
      }

      .dropdown-container {
        display: flex;
        align-items: center;

        .min-span,
        .max-span,
        .discount-span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100px; 
          height: 30px; 
          border: 1px solid rgba(255, 109, 24, 0.49);
          border-radius: 4px;
          padding: 0 5px;
          font-size: 15px;
          cursor: pointer;
          background-color: #fff;
          margin-right: 10px; 
        }
        .header__selected__iconIcon {
          margin-left: 8px;
          color:rgba(255, 109, 24, 0.49);
        }
        
      }
    }
  }
}
.product-main{
  height: 500px;
  background-color: $container-color;
}