@import './assets/styles/Colors.scss';
@import './assets/styles/style.scss';
@import './assets/styles/toastify.scss';
@import './assets/styles/Sample.scss';
@import './assets/styles/signup.scss';
@import './assets/styles/Login.scss';
@import './assets/styles/LandingPage.scss';
@import './assets/styles/email.scss';
@import './assets/styles/AdminHeader.scss';
@import './assets/styles/Button.scss';
@import './assets/styles/Categories.scss';
@import './assets/styles/Footer.scss';
@import './assets/styles/Input.scss';
@import './assets/styles/SearchInput.scss';
@import './assets/styles/SellerHeader.scss';
@import './assets/styles/Sidebar.scss';
@import './assets/styles/Header.scss';
@import './assets/styles/Product.scss';
@import './assets/styles/Loader.scss';
@import './assets/styles/reset-password.scss';
@import './assets/styles/SingleProduct.scss';
@import './assets/styles/ImageSlider.scss';
@import './assets/styles/Queries.scss';
@import './assets/styles/ViewCart.scss';
@import './assets/styles/Notifications.scss';
@import './assets/styles/Search.scss';
@import './assets/styles/CustomSelect.scss';
@import './assets/styles/SellerProduct.scss';
@import './assets/styles/SellerCollection.scss';
@import './assets/styles/SellerLayout.scss';
@import './assets/styles/tables.scss';
@import './assets/styles/adminDashboard.scss';
@import './assets/styles/users.scss';
@import './assets/styles/liveChat.scss';
@import './assets//styles/UserProfile.scss';
@import './assets/styles/SellerSideProduct.scss';
@import './assets/styles/myOrders.scss';
@import "./assets/styles/tables.scss";
@import "./assets/styles/cards.scss";
@import "./assets/styles/trackOrder.scss";
@import "./assets/styles/adminDashboard.scss";
@import "./assets/styles/users.scss";
@import "./assets/styles/liveChat.scss";
@import "./assets//styles/UserProfile.scss";
@import "./assets/styles/SellerSideProduct.scss";
@import "./assets/styles/SellerDeleteItem.scss";
@import "./assets/styles/verticalStepper.scss";
@import "./assets/styles/requests.scss";
@import "./assets/styles/AboutUs.scss";
@import "./assets/styles/UserDetails.scss";
@import "./assets/styles/SellerRegistration.scss";
@import "./assets/styles/ServicesPage.scss";
@import "./assets/styles/Settings.scss";
@import "./assets/styles/HomePage.scss";
@import "./assets/styles/ShopCard.scss";
@import "./assets/styles/ShopPage.scss";