.admin-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  padding: 1.5rem 3.5rem;
  border-left: 1px solid $container-color;
}

.header {
  &__notifications {
    &__box {
      position: relative;
      cursor: pointer;
    }

    &__icon {
      color: $primary-color;
      width: 2rem;
      height: 2rem;

      &__1 {
        width: 3rem;
        height: 3rem;
        transform: translateX(15%);
      }
    }

    &__number {
      font-size: 1rem;
      color: $white;
      font-weight: 600;
      display: inline-block;
      position: absolute;
      top: 0;
      transform: translate(-30%, -10%);
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: #dc143c;
        z-index: -1;
      }
    }
    &__dropdown {
      position: absolute;
      left: -1195%;
      top: 120%;
      box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.08);
      z-index: 500;
      transition: all 0.3s ease-in;
    }
  }

  &__user {
    &__box {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__img {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 0.1rem solid $primary-color;
    }

    &__name {
      font-weight: 600;
    }
  }

  &__text {
    font-size: 1.6rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    align-self: center;
    margin-right: auto;

    &-container {
      align-self: center;
    }

    &__img {
      height: 3.6rem;
    }

    &__text {
      font-size: 2.8rem;
      color: #555;

      span {
        color: $primary-color;
      }
    }
  }
}