@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$primary-color: #ff6d18;
$primary-color-opacity: #ff6d184d;
$primary-color-light: #ffe2d1;
$primary-color-dark: #ff8a46;
$secondary-color: #777777;
$secondary-color-light: #F6F6F6;
$third-color: #d9d9d9;
$fourth-color: #8a869d;
$fifth-color: #4da0fc;
$sixth-color: #9180ff;
$border-color: #ddd;
$black: #000;
$white: #fff;
$white-2: #eee;
$background-color: #ffefe1;
$icon-color: #ff6d18;
$icon-color-unopacity: #ff6d184c;
$text-color: #112a46;
$black-2: #232f3e;
$black-3: #131a22;
$secondary-color-2: #edeef0;
$container-color: #D9D9D933;
$login-bg-color: linear-gradient(136deg, #FF6D18 16%, rgba(216, 201, 193, 0.8) 100%);
$text2-color: #666666;
$text-family: 'Averia Serif Libre';
$white-color: #FFFFFF;
$border-color: #D9D9D9;
$red-color:red;
$grayColor:gray;
$primary-color-half: rgb(248,244,244);
$red-color-light:rgb(250, 169, 169);
$red-color-dark:rgb(59, 1, 1);
$menu-hover: #FE975B;
$green-color: rgb(15, 145, 3);
$green-middle-color: rgba(3, 216, 3, 0.3);
$red-middle-color: rgba(216, 8, 3, 0.3);
$green-color-light:#97fa97;

$toastify-color-light: #fff;
$toastify-color-dark: #121212;
$toastify-color-info: #3498db;
$toastify-color-success: orange;
$toastify-color-warning: #f1c40f;
$toastify-color-error: #e74c3c;


$toastify-icon-color-info: var($toastify-color-info);
$toastify-icon-color-success: var($toastify-color-success);
$toastify-icon-color-warning: var($toastify-color-warning);
$toastify-icon-color-error: var($toastify-color-error);