a {
  text-decoration: none;
  color: $black;
}
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.12rem solid $fourth-color;

  &__notification {
    &__box {
      position: relative;
      cursor: pointer;

      &::before {
            content: "";
            position: absolute;
            top: -50%;
            left: 160%;
            width: 0.15rem;
            height: 6rem;
            background-color: #ccc;
          }
    }

    &__icon {
      color: $primary-color;
      width: 2rem;
      height: 2rem;

      &__1 {
        width: 3rem;
        height: 3rem;
        transform: translateX(15%);
      }
    }

    &__number {
      font-size: 1rem;
      color: $white;
      font-weight: 600;
      display: inline-block;
      position: absolute;
      top: 0;
      transform: translate(-30%, -10%);
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: #dc143c;
        z-index: -1;
      }
    }
  }
  .notification {
    &__container {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &__icon {
      font-size: 3.4rem;
      color: $primary-color;
    }
    &__dropdown {
      position: absolute;
      left: -1195%;
      top: 150%;
      box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.08);
      z-index: 500;
      transition: all 0.3s ease-in;
    }
  }
  &__notification__box {
    &::before {
      content: "";
      position: absolute;
      top: -80%;
      left: 160%;
      width: 0.15rem;
      height: 6.5rem;
      background-color: #ccc;
    }
  }

  &__top {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.12rem solid #ccc;
    padding: 2.4rem 6.1rem 2.4rem 5.1rem;
  }

  &__input {
    width: 100%;
  }

  &__bottom {
    padding: 0 4.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__top {
      display: flex;
      align-items: center;
      gap: 5rem;
      .icons {
        display: flex;
        margin-left: auto;
        padding: 10px;
      }
    }

    &__bottom {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 1.2rem;
      padding-right: 1.4rem;
    }
  }

  &__dropdown__container {
    margin-bottom: 1.2rem;
    padding: 1.6rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    justify-content: space-between;
    background-color: $background-color;
    cursor: pointer;
  }

  &__selected {
    &__text {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: $text-color;
    }

    &__icon {
      font-weight: 600;
      width: 2.2rem;
      height: 3.2rem;
      color: $primary-color;
      transition: all 0.08s linear;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    align-self: center;

    &-container {
      align-self: center;
    }

    &__img {
      height: 3.6rem;
    }

    &__text {
      font-size: 2.4rem;
      color: $secondary-color;

      span {
        color: $primary-color;
      }
    }
  }

  &__box {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.4rem;
    column-gap: 1rem;
    cursor: pointer;
  }
  

  &__icon {
    font-size: 2.8rem;
    color: $primary-color;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 2rem;
    font-weight: 700;
    grid-column: 2 / -1;
    letter-spacing: 0.08rem;
  }

  &__description {
    font-size: 1.2rem;
    grid-column: 2 / -1;
    letter-spacing: 0.04rem;
    color: $secondary-color;
  }

  &__container {
    display: flex;
    flex-direction: column;
    background: red;
    gap: 3.2rem;
  }

  &__content {
    display: flex;
    gap: 6rem;
  }

  &__nav {
    align-self: center;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 3.6rem;
    }

    a:link,
    a:visited {
      text-decoration: none;
      font-size: 2rem;
      color: #555;
    }

    a:hover,
    a.active {
      color: $primary-color;
      border-bottom: 0.1rem solid $primary-color;
    }
  }

  &__menu {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    width: 76%;
    left: 0;
    top: 105%;
    background-color: #fff;
    box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.08);
    background-color: $background-color;
    padding: 3.2rem;
    border-radius: 0.9rem;
    z-index: 1000;
    transition: all 0.2s ease-in;
  }
}

.menu {
  display: none;
}

.dropdown {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 2rem;
      color: $secondary-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }

    &:hover,
    &:active {
      color: $primary-color;
    }
  }
}

.cart {
  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.1rem solid $primary-color-dark;
    grid-row: span 2;
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 0.8rem;
  }

  &__icon {
    color: $primary-color;
    width: 3.7rem;
    height: 3.7rem;
    grid-column: 1 / 2;
    grid-row: span 2;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0.5rem;
  }
  &__icon-user {
    color: $primary-color;
    width: 3.2rem;
    height: 3.2rem;
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.6rem;
    color: #888;
  }
}
.cart__details {
  all: unset;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-top: 15px;
  cursor: pointer;
}

.rotate2 {
  transform: rotate(180deg);
}

.user__container {
  position: relative;
  height: 100%;
  flex: 0 0 10%;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -60%;
    left: -10%;
    width: 0.12rem;
    height:6.5rem;
    background-color: #ccc;
  }
}

.order {
  &__dropdown {
    background-color: $primary-color;
    color: $white;
    padding: 1.8rem;
    border-radius: 0.6rem;
    position: absolute;
    left: -10%;
    padding-right: 10px;
    top: 150%;
    width: 145%;
    z-index: 500;
    box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.08);

    &::before {
      content: "";
      position: absolute;
      top: -3%;
      left: 6%;
      width: 4.5rem;
      height: 4.5rem;
      background-color: $black;
      transform: rotate(45deg);
      z-index: 1;
      background-color: $primary-color;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  &__2fa_btn{
    color: $white;
    background-color: $primary-color-dark ;
    margin-top: 25px;
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-family: inherit;
      position: relative;
      z-index: 2;
    }
  }
}

.cart__icons_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .cart_icon_box {
    border: 0;
    flex: 1;
  }
  .cart_icon_box::before {
    content: "";
    position: absolute;
    top: -15%;
    left: 160%;
    width: 0.15rem;
    height: 6rem;
    background-color: transparent;
  }
  .cart_box_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}
.notification_box_cont {
 margin-top: 15px;
}



@media only screen and (max-width: 768px) {
  
}