  .img-slider-container {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    height: fit-content;
    min-height: 100%;
    object-fit: cover;
    display: flex;
    position: relative;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s;
      border-radius: 50%;
      color: $primary-color;

      .icon-arrow {
        width: 3rem;
        height: 3rem;

        &:hover {
          color: $black;
        }
      }
    }

    .arrow.left {
      left: 0;
      margin-left: 1rem;
    }

    .arrow.right {
      right: 0;
      margin-right: 1rem;
    }

    .dots {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      display: flex;
      gap: 0.5rem;

      .icon-dots {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1024px) {
    .img-slider-container {
      min-width: 100%;
      max-width: 100%;
      max-height: 400px;
      min-height: 400px;
    }
  }