.landing-container {
  padding: 3rem 2rem 4rem 5rem;
  background-color: $container-color;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;

    button {
      background-color: $primary-color;
      color: $white-color;
      border: none;
      padding: 0.8rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    button:hover {
      background-color: $primary-color-dark;
      padding: 0.8rem 2rem;
      transition: all 0.5s ease-in-out;
      animation: bounce 1s infinite;

    }

    @keyframes bounce {

      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-10px);
      }
    }
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $black-3;
    font-size: 1.8rem;
    background-color: $primary-color-light;
    border: 1px solid $primary-color-dark;
    border-radius: 0.5rem;
    padding: 2rem;
  }


  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;


    h1 {
      font-size: 3.6rem;
    }
  }

  .filters {
    display: flex;
    align-items: start;
    margin: 20px 0;
    background-color: $third-color;
    padding: 2rem 1rem;
    border-radius: 1rem;
  }

  .filters div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .filters {
    label {
      width: 16rem;
    }

    .span {
      width: 25rem;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: $white-color;
    border-radius: 5px;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: #ff6d18;
    border-radius: 50%;
    cursor: pointer;
  }


  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #ff6d18;
    border-radius: 50%;
    cursor: pointer;
  }

  .product-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 1.7rem;
  }
}

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;

  .not-found-img img {
    width: 40vw;
  }


  .not-found-text {
    font-family: $text-family;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text2-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: $text-family;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text2-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }


  .btn-link {
    border: none;
    background-color: $primary-color;
    padding: 1rem 4rem;
    text-decoration: none;
    color: $white-color;
    font-family: $text-family;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    background-color: $primary-color;
    padding: 1rem 4rem;
    text-decoration: none;
    color: $white-color;
    font-family: $text-family;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  .btn-link:hover {
    background-color: $white-color;
    color: $primary-color;
    border: 1px solid $border-color;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    background-color: $white-color;
    color: $primary-color;
    border: 1px solid $border-color;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .landing-container {
    padding: 3rem 4rem 4rem 4rem;


    .head {
      h1 {
        font-size: 2.6rem;
      }
    }
  }
}

@media only screen and (max-width: 27rem) {
  .head {
    h1 {
      flex: 1;
      text-align: center;
    }
  }
}