
.added {
  font-size: 3.2rem;
}

.error {
  color: $white !important;
  text-align: center;
  font-size: 1.4rem !important;
  font-family: $text-family;
  background-color: crimson;
  width: 90%;
  top: 50%;
  line-height: 1.3;
  padding: 0.6rem 2.4rem;
  border: none;
  border-radius: .5rem;
  text-transform: lowercase;
  margin-bottom: 1.2rem;
  z-index: 10000;
}

.section__login {
  padding: 5rem 0;
  background-color: $container-color;
}

.login {
  display: flex;
  align-items: flex-start;
  gap: 3.2rem;

  &__logo {
    margin-bottom: 1.8rem;
    font-size: 1.4rem;
    justify-self: center;
    align-self: center;
    padding-left: 3.2rem;
    margin: 2.4rem auto;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
    flex: 0 0 40%;
    border-radius: 3.6rem;
    overflow: hidden;
    padding: 10rem 3.2rem 6.4rem 3.2rem;
    color: $white;
    background-image: linear-gradient(to right bottom, #ff6d18 40%, #d8c9c1);
  }

  &__right {
    flex: 1;
    align-self: center;
    padding: 3.2rem;
  }

  &__heading {
    font-size: 4rem;
    line-height: 1.2;
    padding-left: 2rem;
  }

  &__secondary {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 4.8rem;
    padding-left: 2rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.4;
    padding-left: 2.4rem;
  }

  &__img {
    width: 100%;
    margin-top: auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__separator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    color: #888;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;

    &::before,
    &::after {
      content: "";
      width: 8rem;
      height: 0.1rem;
      background-color: currentColor;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 5.2rem;
    text-decoration: none;
    border-radius: 0.9rem;
    border: 0.1rem solid #ccc;
    padding: 0.4rem 0 0.4rem 2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $primary-color;
    }
  }

  &__social {
    &__icon {
      width: 4.8rem;
      height: 4.8rem;
    }

    &__text {
      font-size: 2.4rem;
      color: #aaa;
      text-transform: lowercase;
    }
  }

  &__box:hover &__social__text {
    color: $white;
  }

  &__register {
    font-size: 1.6rem;
    color: #888;
  }

  &__link {
    &:link,
    &:visited {
      margin-left: 0.7rem;
      text-decoration: none;
      color: $primary-color;
    }
  }
}

.form * {
  outline: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &:last-of-type {
      margin-bottom: 1.2rem;
    }
  }

  &__input {
    flex: 1;
    display: block;
    padding: 2rem;
    border: 0.1rem solid #ddd;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    font-family: inherit;
    outline: none;
  }

  &__btn {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 3.2rem;
    border: none;
    font-size: 2.4rem;
    color: $white;
    font-family: inherit;
    text-transform: lowercase;
    letter-spacing: 0.05rem;
    border-radius: 0.9rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.6rem;
      color: #888;
      text-decoration: none;
      position: absolute;
      top: 110%;
      right: 0;
      transition: all 0.15s ease-in;
    }

    &:hover,
    &:active {
      color: $primary-color;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    color: #888;
    position: absolute;
    right: 2%;
    top: 45%;
    transform: translateY(-40%);
    cursor: pointer;

    &__2 {
      right: 10%;
    }
  }
}

.loading {
  cursor: not-allowed;
  background-color: $primary-color-dark;
}

.error__container p {
  font-size: 1.6rem;
  border-radius: 10rem;
  text-align: center;
  color: $white;
  padding: 0.6rem 1.2rem;
  background-color: $primary-color;
}

.hidden {
  display: none;
}