.notifications-container {
  width: 40rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: $black-3;
    font-size: 1.8rem;
    background-color: $primary-color-light;
    border: 1px solid $primary-color-dark;
    border-radius: 0.5rem;
    padding: 2rem;
  }

  .notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 0.2rem solid #c9c9c9;

    h2 {
      font-size: 1.5rem;
      margin: 0;
    }

    .filter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .filter-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 0.1rem solid #ddd;
        padding: 0rem 1rem;
        border-radius: 0.4rem;
        background-color: #fff;
        height: 3rem;
        
        span {
          font-size: 1.2rem;
          color: #333333;
          padding-right: 3rem;
        }

        .filter-icon {
          color: #333333;
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: #fff;
          border: 0.1rem solid #ddd;
          border-radius: 0.4rem;
          box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
          z-index: 1000;

          .dropdown-item {
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            color: #333333;
            cursor: pointer;
            border-bottom: 0.1rem solid #ddd;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }

      .filter-double {
        display: flex;
        align-items: center;
        border: 0.2rem solid #ff6d18;
        margin-left: 1rem;
        border-radius: 0.4rem;
        height: 2rem;
        padding: 0.3rem;

        .filter-double-icon {
          color: #ff6d18;
        }
      }
    }
  }

  .notifications-list {
    max-height: 30rem;
    overflow-y: auto;

    .notification-item {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 2rem;
      border-bottom: 0.2rem solid #c9c9c9;
      color: #333333;

      &.unread {
        background-color: #E9E9E9;

        .unread-icon {
          color: #ff6d18;
        }
      }

      .notification-text {
        width: 30rem;

        p {
          margin: 0;
          font-size: 1.3rem;
        }
      }

      .notification-time {
        font-size: 0.95rem;
        color: #999;
      }
    }
  }

  .load-more {
    text-align: center;
    padding: 2.3rem;

    button {
      border: none;
      background-color: transparent;
      color: #ff6d18;
      cursor: pointer;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }
}
