@import "./Colors";

$button-font-size: 16px;
$button-border-radius: 12px;
$button-hover-bg-color: darken($primary-color, 10%);
$button-font-weight: bold;
$button-font-family: Arial, sans-serif;
$button-text-color: #fff;
$text-color: #000000;

.resetPassword-Container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  margin-top: 35px;

  h1 {
    color: $text-color;
    font-family: $text-family;
    font-size: 4rem;
  }
  .error {
    color: $red-color;
    padding-left: 1.2rem;
    font-size: 2rem;
    font-family: $text-family;
  }
  .input-container {
    position: relative;
    margin: 1rem 0;

    .input-label {
      position: absolute;
      top: 50%;
      left: 0.75rem;
      transform: translateY(-50%);
      background: white;
      padding: 0 0.25rem;
      color: #6c6c6c;
      font-family: "Georgia", serif;
      font-weight: bold;
      font-size: 1rem;
      transition: all 0.3s ease;
    }

    .input-field {
      width: 25vw;
      height: 7vh;
      padding-left: 3%;
      border: 2px solid #f5a773;
      border-radius: 0.35rem;
      font-size: 1.5rem;
      outline: none;
      font-family: inherit;
      font-weight: inherit;

      &:focus + .input-label,
      &:not(:placeholder-shown) + .input-label {
        top: 0;
        left: 0.5rem;
        font-size: 1.5rem;
        color: #6c6c6c;
      }
    }
  }

  .reset-Button {
    background-color: $primary-color;
    color: $button-text-color;
    font-size: $button-font-size;
    width: 26vw;
    height: 7vh;
    border: none;
    border-radius: $button-border-radius;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: $button-font-weight;
    font-family: $button-font-family;
    &:hover {
      background-color: $button-hover-bg-color;
    }
    .loading {
      cursor: not-allowed;
    }
  }
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;

  h1 {
    color: $text-color;
    font-family: $text-family;
    font-size: 4rem;
  }
  .input-containers {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 9px;

    .input-container1,
    .input-container2 {
      position: relative;
      margin: 1rem 0;

      .input-label1,
      .input-label2 {
        position: absolute;
        top: 50%;
        left: 0.75rem;
        transform: translateY(-50%);
        background: white;
        padding: 0 0.25rem;
        color: #6c6c6c;
        font-family: "Georgia", serif;
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.3s ease;
      }

      .input-field1,
      .input-field2 {
        width: 27.5vw;
        height: 7vh;
        padding-left: 3%;
        border: 2px solid #f5a773;
        border-radius: 0.27rem;
        font-size: 1.5rem;
        outline: none;
        font-family: inherit;
        font-weight: inherit;

        &:focus + .input-label1,
        &:not(:placeholder-shown) + .input-label1,
        &:focus + .input-label2,
        &:not(:placeholder-shown) + .input-label2 {
          top: 0;
          left: 0.5rem;
          font-size: 1.5rem;
          color: #6c6c6c;
        }
      }
    }
    .error {
      color: $red-color;
      font-size: 2rem;
      width: 25vw;
      font-family: $text-family;
    }
  }
  .reset-Button {
    background-color: $primary-color;
    color: $button-text-color;
    font-size: $button-font-size;
    width: 28.8vw;
    height: 7vh;
    border: none;
    border-radius: $button-border-radius;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: $button-font-weight;
    font-family: $button-font-family;
    &:hover {
      background-color: $button-hover-bg-color;
    }
    .loading {
      cursor: not-allowed;
    }
  }
}

.resetPasswordForm {
  .input-containers {
    .input-container1,
    .input-container2 {
      position: relative;
      .toggle-password {
        position: absolute;
        color: #777777;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.redirect-page {
  display: flex;
  justify-content: center;

  .success-page {
    margin-top: 60px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 10px;
    padding: 2rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    .isSuccess {
      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        span {
          color: $primary-color;
          font-weight: 700;
          text-decoration: underline;
          font-size: 1.9rem;
          line-height: 2.4rem;
          letter-spacing: 0.05rem;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
