.sampleImages1 {
  display: flex;
  width: 100vw;
  color: $white;
  background-color: $white;
  gap: 1rem;
  height: 35rem;

  .sample1, .sample3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 35rem;
    gap: 1rem;
  }

  .sample2 {
    width: 40%;
    display: flex;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s;

      .icon-arrow {
        width: 3rem;
        height: 3rem;
        &:hover {
          color: $primary-color;
        }
      }
    }

    .arrow.left {
      left: 0;
      margin-left: 1rem;
    }

    .arrow.right {
      right: 0;
      margin-right: 1rem;
    }

    .dots {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      display: flex;
      gap: 0.5rem;

      .icon-dots {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  .menShoe, .phones, .womenShoe, .accessories {
      display: flex;
      align-items: center;
      position: relative;
      height: 40rem;
      img{
        width: 100%;
        height: 100%;
      }
    p {
      font-size: 1.8rem;
    }

    button {
      border: none;
      font-size: 1.6rem;
      padding: 0.5rem 2rem;
      border-radius: 4rem;
      cursor: pointer;
      background: $white;
    }
  }

  .menShoe {
    img{
      transform: scaleX(-1);
    }

    .text-container {
      display: flex;
      position:absolute;
      flex-direction: column;
      align-items: flex-start;
      left: 3rem;
      gap: 1rem;
    }

    button {
      color: $primary-color;
    }
  }

  .phones {

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      left: 3rem;
      gap: 1rem;

    }

    button {
      color: $fifth-color;
    }
  }

  .womenShoe {
    img{
      transform: scaleX(-1);
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      right: 3rem;
      gap: 1rem;

    }

    button {
      color: $sixth-color;
    }
  }

  .accessories {

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      right: 3rem;
      gap: 1rem;

      p {
        padding-right: .1rem;
      }

      button {
        color: $fourth-color;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .sampleImages1 {
   height: 10rem;
    .sample2 {
      .arrow {
        .icon-arrow {
          width: 2rem;
          height: 2rem;
        }
      }
      .dots {
        .icon-dots {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .menShoe, .phones, .womenShoe, .accessories {
      img {
       height: 8.5rem;
      }
      p {
        font-size: 1rem;
      }
  
      button {
        font-size: 1rem;
        padding: 0.25rem 1rem;
        border-radius: 2rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .sampleImages1 {
    gap: 0.5rem;
   height: 12rem;
    .sample2 {
      .arrow {
        .icon-arrow {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .dots {
        .icon-dots {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }

    .menShoe, .phones, .womenShoe, .accessories {
      height: 5.5rem;
      padding: 0;
      img {
       height: 100%;
      }
      p {
        font-size: 0.8rem;
      }
  
      button {
        font-size: 0.8rem;
        padding: 0.1rem 0.5rem;
        border-radius: 1.5rem;
      }
    }
  }
}

.trust-container {
  display: flex;
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
  justify-content: space-between;
  background-color: $third-color;

  .trust {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;

    .icon {
      width: auto;
      height: 50%;
      color: $secondary-color;
    }

    .name {
      font-weight: bold;
      padding-left: 2rem;

      h2 {
        font-size: 1.6rem;
        color: $black;
        margin: 0;
      }

      p {
        font-size: 1.4rem;
        color: $secondary-color;
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .trust-container {
    height: 8rem;

    .trust {
      padding: 0 1.5rem;

      .icon {
        height: 35%;
      }

      .name {
        padding-left: 1rem;

        h2 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .trust-container {
    height: 6rem;

    .trust {
      padding: 0 1rem;

      .icon {
        height: 25%;
      }

      .name {
        padding-left: 0.5rem;

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}