.wrappers{
  width: 100vw;
  height: 100vh;
  background-color: $container-color;
  .upper-side {
          display: flex;
          align-items: center;
          height: 10rem;
          font-size: 1.5rem;
         padding: 5rem;
         border-bottom: $fourth-color;

         .product-name{
           font-size: 2rem;
           font-weight: 700;
           color: $text-color;
           margin-right: 2rem;
         }

         .filter-option{
           display: flex;
           gap: 10rem;
           
           .selection-part{
             display: flex;
             align-items: center;
             gap: 2rem;
             font-size: 2rem;
             font-weight: 700;
             color: $text-color;
           
           }
           .search-Span-price{
            font-size: 2rem;
            font-weight: 700;
            color: $text-color;
            margin-right: 2rem;
          }
           .dropdown-select{
             gap: 2rem;
             font-size: 2rem;
             font-weight: 700;
             color: $text-color;
             border: 1px solid rgba(255, 109, 24, 0.49);
            border-radius: 4px;
            padding: 0.5rem 2rem ;
            font-size: 15px;
            cursor: pointer;
           }
         }

        }
        .product-main{
          display: flex;
          .product-list{
            display: flex;
            flex-wrap: wrap;
            margin: 3rem 3rem;
            margin-left: 5rem;
            gap: 5rem;
          }
          .loader-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 70rem;
            margin-top: 20rem;
          }
          .noResult{  
            display: flex;
            flex-direction: column;
            margin-left: 35%;
            margin-top: 2vh;
            img{
              width: 400px;
              height: 400px;
            }
          }
        }
      

}

// .product-search {
//   display: flex;
//   flex-direction: column;
//   height: 65px;
//   background-color: $container-color;
//   border-bottom: 1px solid #ccc;

//   .main-content-product {
//     display: flex;
//     flex-direction: column;
//     .upper-side {
//       display: flex;
//       margin-left: 50px;
//       margin-right: 50px;
//       height: 40px;
//     }

//     .searchPrice-box {
//       display: flex;
//       align-items: center;
//       width: 80rem;
//       height: 56px;
//    padding-top: 10px;
//    padding-bottom: 10px;
//       line-height: 40px;
//       margin-left: 5px;

//       &:not(:last-child) {
//         margin-bottom: 10px;
//       }

//       .product-name {
//         font-size: 20px;
//         margin-right: 10px;
//         width: 30rem;
//       }

//       .searchSpan-price {
//         margin: 0 6px 0 4px;
//         line-height: 30px;
//         font-size: 20px;
//         vertical-align: middle;
//         display: inline-block;
//       }

//       .dropdown-container {
//         display: flex;
//         align-items: center;

//         .min-span,
//         .max-span,
//         .discount-span {
//           display: flex;
//           align-items: center;
//           justify-content: space-between;
//           width: 100px; 
//           height: 30px; 
//           border: 1px solid rgba(255, 109, 24, 0.49);
//           border-radius: 4px;
//           padding: 0 5px;
//           font-size: 15px;
//           cursor: pointer;
//           margin-right: 10px; 
//         }
//         .header__selected__iconIcon {
//           margin-left: 8px;
//           color:rgba(255, 109, 24, 0.49);
//         }
        
//       }
//     }
//   }
// }
// .product-main{
//   height: 500px;
//   background-color: $container-color;
// }