@import "./Colors";
.seller__main__container {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;

    .product-img {
        width: 4rem;
        height: 4rem;
        border-radius: 10%;
        box-shadow: 0 0 8px $primary-color;
    }
}

.available {
    background-color: $green-middle-color;
    border-radius: 20px;
    padding: 4px 8px;
    color: $green-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.unavailable {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $red-middle-color;
    border-radius: 20px;
    padding: 4px 8px;
    color: $red-color;
}

.action__icons {
    display: flex;
    align-items: center;
    gap: 1px;

    .icon__edit {
        color: $fifth-color;
        font-size: 2rem;
    }
    .icon__view {
        color: $primary-color;
        font-size: 2rem;
    }

    .icon__delete {
        color: $red-color;
        font-size: 2rem;
    }
}
.user__role {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10rem;
    height: 2.5rem;
    border: 1px solid $primary-color;
    border-radius: 0.5rem;
    padding-left: 1rem;
    color: $text2-color;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ff6d18" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;

    &::-ms-expand {
        display: none;
    }

    option {
        color: $text2-color !important;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

.add-product-btn{
    background-color: $primary-color;
    color: $white;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}