@import "./Colors";

.seller-product-container {
  * {
    font-size: 16px;
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 100%;
  max-height: 100%;
  .seller-product-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;

    h1 {
      color: $primary-color;
    }

    .header-btns {
      display: flex;
      gap: 10px;

      .edit-btn {
        background-color: $primary-color;
        border: none;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 20px;
        gap: 10px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;

      }

      .disabled {
        background-color: $menu-hover;
        cursor: not-allowed;
        opacity: 0.6;
      }

      .delete-btn {
        background-color: $red-color;
        border: none;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 20px;
        gap: 10px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .cards-holder {
    background-color: $white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    box-sizing: border-box;

    .left,
    .right {
      .content-card-container {
        background-color: $primary-color-half;
        border-radius: 10px;
        border: 1px solid $primary-color-dark;
        padding: 10px;
        padding-top: 25px;
        position: relative;
        z-index: 1;
        width: 100%;
        min-width: 100%;

        .content-card-title {
          position: absolute;
          top: -10px;
          left: 20px;
          border: 1px solid $primary-color-dark;
          padding: 2px 10px;
          border-radius: 30px;
          background-color: $white;
          z-index: 2;
          color: $primary-color;
        }

        .content-card-content {
          color: $black;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .content-card-container {
            background-color: $white;
            padding-top: 15px;
            position: relative;
            width: 100%;

            .content-card-title {
              color: $secondary-color;
            }

            .content-card-content {
              .content-card-input {
                background-color: transparent;
                border: none;
                outline: none;
              }
            }
          }
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 0 0 30%;

      .pricing-card .content-card-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 0 0 65%;

      .img-card .content-card-content {
        .images-container {
          display: flex;
          flex: 0 0 60%;
          align-items: center;
          width: 100%;
          height: 500px;
          max-height: 500px;
          min-height: 500px;
          overflow: hidden;
          flex-direction: column-reverse;
          gap: 10px;

          .thumbnails-container {
            .thumbnail-wrapper {
              position: relative;
              display: inline-block;
            }

            .remove-image-button {
              position: absolute;
              top: 5px;
              right: 5px;
              background-color: rgba(0, 0, 0, 0.5);
              color: white;
              border: none;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              font-size: 16px;
              line-height: 1;
              cursor: pointer;
              display: none;
              align-items: center;
              justify-content: center;
              padding: 0;
            }

            .thumbnail-wrapper:hover .remove-image-button {
              display: flex;
            }

            .remove-image-button:hover {
              background-color: rgba(0, 0, 0, 0.7);
            }

            display: flex;
            align-items: center;
            gap: 10px;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-height: 90px;
            min-height: 90px;
            min-width: 100%;
            max-width: 100%;
            overflow-y: scroll;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
              display: none;
            }

            .thumbnail-image {
              object-fit: cover;
              border: 2px solid transparent;
              cursor: pointer;
              width: 70px;
              height: 70px;
              border-radius: 10px;

              &:hover {
                border: 2px solid $primary-color;
              }
            }

            .image-input-div {
              border: 2px dashed $primary-color;
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 70px;
              min-height: 70px;
              max-width: 70px;
              max-height: 70px;

              .choosen-image {
                object-fit: cover;
                border: 2px dashed transparent;
                cursor: pointer;
                width: 70px;
                height: 70px;
                border-radius: 10px;

                &:hover {
                  border: 2px dotted $primary-color;
                }
              }

              .image-choser {
                cursor: pointer;
              }

              .image-input {
                display: none;
              }
            }

            .active {
              border: 2px solid $primary-color;
            }

          }

          .main-image-container {
            flex: 1;
            overflow: hidden;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 2px #f60;
            border-radius: 10px;
            min-width: 100%;
            max-width: 100%;
            max-height: 400px;
            min-height: 400px;


            .main-image {
              width: 100%;
              height: fit-content;
              min-height: 100%;
              object-fit: cover;
              height: 100%;
            }

          }
        }
      }
    }
  }

}


@media (max-width: 1024px) {
  .seller-product-container {
    * {
      font-size: 12px;
    }

    .cards-holder {
      flex-direction: column;
      .left{
        .pricing-card .content-card-content {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .right {
        max-width: 100%;
      }
    }
  }
}