@import "./Colors";

.seller-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.2rem;
  padding: 2.4rem 5.2rem;
  min-height: 3rem;
  max-height: 3rem;
}

.header {
  &__notificationss {
    &__box {
      position: relative;
      cursor: pointer;
      z-index: 100;
    }

    &__icon {
      color: $primary-color;
      width: 2rem;
      height: 2rem;

      &__1 {
        width: 3rem;
        height: 3rem;
        transform: translateX(15%);
      }
    }

    &__number {
      font-size: 1rem;
      color: $white;
      font-weight: 600;
      display: inline-block;
      position: absolute;
      top: 0;
      transform: translate(-30%, -10%);
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: #dc143c;
        z-index: -1;
      }
    }
    &__dropdown {
      position: absolute;
      left: -1195%;
      top: 120%;
      box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.08);
      z-index: 500;
      transition: all 0.3s ease-in;
    }
  }
  &__theme {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.3rem 1rem;

    cursor: pointer;

    &--active {
      border-radius: 10rem;
      background-color: #eee;
    }

    &__container {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      background-color: #ccc;
      border-radius: 10rem;
      overflow: hidden;
    }

    &__icon {
      width: 1.8rem;
      height: 1.8rem;
    }

    &__text {
      font-size: 1.2rem;
    }
  }

  &__theme--active &__theme__text,
  &__theme--active &__theme__icon {
    color: $primary-color;
  }

  &__title {
    font-size: 3.2rem;
    margin-right: auto;
  }
}

.line {
  width: 0.1rem;
  height: 3.2rem;
  transform: translateX(0.6rem);
  background-color: #666;
}

@media (max-width: 1024px) {
  .seller-header {
    .header__theme__container, line{
      display: none;
    }
  }
}