.settings {
    border: 1px solid $border-color;
    width: 100%;
    height: 100%;
    background-color: $white-color;

    h2 {
        margin: 0;
        padding: 2%;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
    }

    .menu-bar {
        display: flex;
        margin: 0 2.5rem;
        border-bottom: 1px solid #ddd;


        .menu-item {
            cursor: pointer;
            font-size: 1.3rem;

            p {
                margin-right: 1rem;
                padding: 1rem;

                &.active {
                    background-color: $primary-color-light;
                    color: $primary-color;
                    padding: 1rem;
                    border-bottom: 1px solid $primary-color;
                    transition: padding .2s ease-in-out;
                }
            }

        }
    }


    .section_container {
        flex-grow: 1;
        padding: 0 2.5rem;

        .loading__spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50rem;

        }

        .section-content {
            background-color: white;
            overflow-y: auto;
            padding: 10px;
            height: 70vh;


            label {
                font-size: 2.5rem;
                font-weight: bold;
            }

            .password_exp {
                background-color: $secondary-color-light;
                padding: 2rem 5rem;
                border-radius: .5rem;
                margin-bottom: 2rem;

                .form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    input {
                        padding: 10px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        font-size: 1.4rem;
                        width: 30%;
                    }
                    &.margin{
                        margin-top: 2rem !important;
                    }
                }

                .btn {
                    padding: 10px 20px;
                    background-color: $primary-color;
                    color: $white-color;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.6rem;
                    width: 8rem;
                    cursor: pointer;
                    transition: width 0.5s linear;

                    &:hover {
                        background-color: $primary-color-dark;
                        width: 10rem;
                        transition: width 0.5s linear;
                    }
                }
            }

            .terms {
                background-color: $secondary-color-light;
                padding: 2rem 5rem;
                border-radius: .5rem;
                margin-bottom: 2rem;

                .nav__terms {
                    padding-bottom: 1rem;

                    .terms__link {
                        padding: 1rem;

                        &.active {
                            background-color: $primary-color-light;
                            border-bottom: 1px solid $primary-color;
                            color: $primary-color;
                        }
                    }

                    ul {
                        display: flex;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                        li {
                            font-size: 1.5rem;
                        }
                    }
                }

                form {
                    padding: 0;
                    margin: 2rem 0;


                    select {
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        font-size: 1.4rem;
                        height: 30%;
                        width: 20%;
                        margin: 2rem 0;

                        &:hover {
                            border-color: $primary-color;
                        }
                    }

                    .uploadMethod {
                        display: flex;
                        gap: 2rem;
                        margin: 1rem 0;

                        button {
                            padding: 10px 20px;
                            background-color: $primary-color;
                            color: $white-color;
                            border: none;
                            border-radius: 5px;
                            font-size: 1.6rem;
                            cursor: pointer;
                        }
                    }
                    .quill{
                        margin-bottom: 7rem;
                        height: 30rem;
                        width: 100%;
                        font-size: 1.4rem;
                        resize: vertical;
                    }

                    .upload-file {
                        margin: 1rem;

                    }
                }

                .form-group {
                    .btn {
                        padding: 10px 20px;
                        background-color: $primary-color;
                        color: $white-color;
                        border: none;
                        border-radius: 5px;
                        font-size: 1.6rem;
                        width: 8rem;
                        cursor: pointer;
                        transition: width 0.5s linear;

                        &:hover {
                            background-color: $primary-color-dark;
                            width: 10rem;
                            transition: width 0.5s linear;
                        }
                    }
                }
            }
            .display-content{
                display: flex;
                align-items: center;
            }
            .viewer{
                display: flex;
            }

            .view__pdf{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.453);
                z-index: 10000;
                
                .close__icon{
                  position: absolute;
                  top: 2rem;
                  right: 2rem;
                  font-size: 3rem;
                  cursor: pointer;
                  color: $white-color;
                  &:hover{
                    color: $red-color;
                    transform: scale(1.1);
                    transition: all 0.5s ease-in-out;
                  }
                }
              }
            
              .pageNumber{
                display: flex;
                justify-content: center;
                align-items: center;
                
                button{
                  background-color: transparent;
                  width: 6rem;
                  height: 6rem;
                  .pageNumber__icon{
                    font-size: 6rem;
                    cursor: pointer;
                    &:hover{
                      transform: scale(1.1);
                      transition: all 0.5s ease-in-out;
                    }
                  }
                  &:first-child{
                    margin-right: 1rem;
                  }
                  &:last-child{
                    margin-left: 1rem;
                  }
                }
              }
        }
    }

}