.shop-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: $secondary-color-light;
  transform: none;
  &:hover {
    transform: scale(1.02)  !important;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease !important;
  }
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  
    .items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;
  
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
  
        img {
          width: 100%;
          height: 10rem;
          object-fit: cover;
        }
  
        p {
          margin-top: 10px;
          font-size: 1em;
          color: #333;
        }
      }
    }
  
    .see-more {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  