.sidebar {
  display: inline-block;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $white;
  padding-bottom: 3.2rem;
  border-right: 0.1rem solid #eee;

  &__content {
    position: relative;
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 28%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-color;
  }

  &__title {
    font-size: 2.2rem;
    transform: translateX(34%);
    padding-top: 2.4rem;

    span {
      color: $primary-color;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transform: translateY(5.2rem);
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: all 0.2s ease-in;
    padding-right: 3rem;

    &:hover {
      background-color: $primary-color;
    }
  }

  &__link {
    padding: 1.6rem 5.2rem 1.6rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 4.4rem;
    font-size: 2.4rem;
    cursor: pointer;

    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2.4rem;
      color: $text-color;
    }

    &:hover,
    &:active {
      color: $white;
    }
  }

  &__icon {
    font-size: 3.6rem;

    color: $white;
  }

  &__inner__icon {
    font-size: 3.2rem;
    font-weight: 700;
    transform: rotate(90deg);
    transition: all 0.15s ease-in;
  }

  &__logout {
    transform: translateY(200%);
  }

  &__inner__link {
    &--active {
      background-color: $primary-color;
    }

    &:link,
    &:visited {
      text-decoration: none;
      color: $text-color;
      opacity: 0.8;
      font-size: 1.8rem;
      display: inline-block;
      padding: 0.8rem 3.2rem;
      border-radius: 10rem;
      margin-bottom: 1.6rem;
    }

    &:hover,
    &:active {
      background-color: $primary-color;
    }
  }
}

.dropdown {
  position: relative;
  transform: translateY(-12%);
  left: 28%;
  background-color: #eee;
  padding: 2.4rem;
  transition: all 0.3s ease-in;

  ul {
    list-style: none;
  }
}

.rotate {
  transform: rotate(-90deg);
}