.wrapper {
  background-color: $container-color;
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;

  .container {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .login-form {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .left-side-login {
      width: 55.8rem;
      height: 64.8rem;
      background: $login-bg-color;
      border-radius: 4rem;
      padding: 10px;

      .left-side-text {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        h1 {
          font-family: $text-family;
          font-weight: 700;
          font-size: 24px;
          margin-top: 1rem;
          margin-bottom: 8px;
          color: $white-color;
        }

        p {
          color: $white-color;
          font-family: $text-family;
          font-weight: 400;
          font-size: 10px;
          width: 32rem;
        }
      }

      .img {
        img {
          width: 40rem;
          height: 40rem;
        }
      }
    }

    .right-side-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 2rem;
      gap: 1.5rem;

      .right-side-text {
        margin-bottom: 1.2rem;

        p,
        h1 {
          text-align: center;
          font-family: $text-family;
          font-weight: bold;
          font-size: 40px;
          margin-top: 0.4rem;
        }

        p {
          font-size: 18px;
          color: $text2-color;
        }
      }

      .form-box {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .input-box {
          input {
            width: 400px;
            height: 6.5rem;
            border: 1px solid $border-color;
            border-radius: 2rem;
            padding-left: 2rem;
            font-family: $text-family;
            font-size: medium;
            color: $text2-color;
            outline: none;
          }

          .error1 {
            color: $red-color;
            padding-left: 1.2rem;
            font-size: 2rem;
            font-family: $text-family;
          }
        }

        .input-box input:focus {
          border: 1px solid $primary-color;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        .input-box:nth-child(2) {
          position: relative;

          .hide {
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            opacity: 1;
            font-size: 2rem;
            color: $text2-color;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .error2{
        color: $red-color;
        font-size: 18px;
        font-family: $text-family;
        width: 45rem;
      }

      .btn Button,
      .btn-loading {
        background-color: $primary-color;
        color: $white-color;
        font-family: $text-family;
        font-weight: 700;
        font-size: 24px;
        width: 40rem;
        height: 6.5rem;
        border: none;
        border-radius: 2rem;
        margin-top: 2rem;
        cursor: pointer;
      }

      .btn-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white-color;
        border: 1px solid $border-color;
      }

      .btn:hover Button {
        background-color: $white-color;
        color: $primary-color;
        border: 1px solid $border-color;
        background-color: $white-color;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
      }

      .line-text {
        p {
          margin: 2rem 0;
          text-align: center;
          position: relative;
          color: $text2-color;
          font-size: 16px;
          font-weight: bold;
          font-family: $text-family;
          width: 35rem;
        }

        p::before,
        p::after {
          content: "";
          position: absolute;
          top: 55%;
          width: 110px;
          height: 1px;
          background-color: $text2-color;
        }

        p::before {
          left: 0;
          transform: translateX(-35px);
        }

        p::after {
          right: 0;
          transform: translateX(35px);
        }
      }

      .google {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: none;
        border-radius: 2rem;
        border: 1px solid $border-color;
        background-color: $white-color;
        width: 40rem;
        height: 6.5rem;
        cursor: pointer;

        p {
          font-family: $text-family;
          font-weight: bold;
          font-size: 20px;
          color: $text2-color;
        }

        .google-icon {
          font-size: 50px;
          color: $primary-color;
        }
      }

      .google:hover {
        background-color: $primary-color;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        p {
          color: $white-color;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

// Medium devices (tablets, 481px to 768px)
@media (min-width: 481px) {
  .login-form {
    width: 80vw;
    padding: 0 1.5rem;
  }

  .form {
    padding-left: 0;
  }

  form {
    gap: 2rem;
    padding-left: 3.2rem;

    .left-side-login {
      padding: 15px;

      .left-side-text {
        h1 {
          font-size: 26px;
        }

        p {
          font-size: 12px;
        }
      }

      .img img {
        width: 300px;
        height: auto;
      }
    }

    .right-side-login {
      .right-side-text {
        h1 {
          font-size: 26px;
        }

        p {
          font-size: 12px;
        }
      }

      .form-box .input-box input {
        height: 4.8rem;
        font-size: 18px;
      }

      .btn Button,
      .btn-loading {
        height: 4.8rem;
        font-size: 24px;
      }

      .google {
        height: 4.8rem;

        p {
          font-size: 18px;
        }

        .google-icon {
          font-size: 28px;
        }
      }
    }
  }
}

// Large devices (desktops, 769px and up)
@media (min-width: 769px) {
  html{
    font-size: 6px;
  }
  .login-form {
    width: 90vw;
    padding: 0 2rem;

    form {
      flex-direction: row;
      gap: 2.4rem;

      .left-side-login {
        display: flex;
        flex-direction: column;
        padding: 0 3rem 0 4rem;

        .left-side-text {
          margin-top: 5rem;
          gap: 2rem;
        }
      }

      .right-side-login {
        width: 50%;
        height: 500px;
        top: 6rem;

        .right-side-text {
          h1 {
            font-size: 32px;
          }

          p {
            margin-top: 0.5rem;
            font-size: 14px;
          }
        }

        .form-box .input-box input {
          width: 45rem;
          height: 5.6rem;
          font-size: large;
        }

        .form-box .input-box:nth-child(2) .hide {
          top: 2rem;
          right: 2rem;
        }

        .btn Button,
        .btn-loading {
          width: 45rem;
          height: 5.6rem;
          font-size: 28px;
        }

        .google {
          width: 45rem;
          height: 5.6rem;

          p {
            font-size: 20px;
          }

          .google-icon {
            font-size: 32px;
          }
        }
      }
    }
  }
}

@media (min-width: 1020px) {
  html{
    font-size: 9px;
  }
  .login-form {
    width: 90rem;
    padding: 0 2rem;

    form {
      flex-direction: row;
      gap: 2.4rem;

      .left-side-login {
        display: flex;
        flex-direction: column;
        padding: 0 3rem 0 4rem;
        gap: 2rem;
        .left-side-text {
          margin-top: 5rem;
          gap: 2rem;

          h1{
            font-size: 32px;
          }

          p {
            margin-top: 0.5rem;
            font-size: 15px;
          }
        }
      }

      .right-side-login {
        width: 50%;
        height: 500px;
        top: 6rem;

        .right-side-text {
          h1 {
            font-size: 32px;
          }

          p {
            margin-top: 0.5rem;
            font-size: 14px;
          }
        }

        .form-box .input-box input {
          width: 45rem;
          height: 5.6rem;
          font-size: large;
        }

        .form-box .input-box:nth-child(2) .hide {
          top: 2rem;
          right: 2rem;
        }

        .btn Button,
        .btn-loading {
          width: 45rem;
          height: 5.6rem;
          font-size: 28px;
        }

        .google {
          width: 45rem;
          height: 5.6rem;

          p {
            font-size: 20px;
          }

          .google-icon {
            font-size: 32px;
          }
        }
      }
    }
  }
}