@import "./Colors";

.product-component {
    background-color: $container-color;
    padding: 2rem;

    * {
        font-size: 16px;
        box-sizing: border-box;
    }

    .product-container {
        display: flex;
        width: 100%;
        gap: 20px;
        padding-right: 2rem;

        .images-container {
            display: flex;
            flex: 0 0 60%;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 500px;

            .thumbnails-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 200px;
                gap: 10px;

                .thumbnail-image {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border: 2px solid transparent;
                    cursor: pointer;

                    &:hover {
                        border: 2px solid $primary-color;
                    }
                }

                .active {
                    border: 2px solid $primary-color;
                }

            }

            .main-image-container {
                flex: 1;
                overflow: hidden;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 2px #f60;
                border-radius: 10px;


                .main-image {
                    width: 100%;
                    height: fit-content;
                    min-height: 100%;
                    object-fit: cover;
                }

            }
        }

        .product-details {
            display: flex;
            flex: 0 0 40%;
            flex-direction: column;
            gap: 30px;
            padding-top: 5px;

            .product-title {
                font-size: 1.8rem;
                font-weight: bold;
            }

            .product-stars-and-shipping {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;

                .product-review-stars {
                    display: flex;
                    gap: 5px;
                }

                .shipping-label {
                    background-color: $primary-color-dark;
                    color: $white;
                    opacity: 0.6;
                    padding: 0.5rem 1rem;
                    border-radius: 0.25rem;
                }
            }

            .product-price-container {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px 20px;
                background-color: $secondary-color-2;

                .product-price {
                    font-size: 2rem;
                    font-weight: bold;
                    color: $primary-color;
                    margin-left: 5px;
                }

                .discount-label-container {
                    position: relative;
                    width: fit-content;
                    padding: 5px 8px;
                    border-radius: 10px;
                    z-index: 1;

                    .discount-label {
                        color: $icon-color;
                    }
                }

                .discount-label-container::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $primary-color-dark;
                    opacity: 0.3;
                    border-radius: 10px;
                    z-index: -1;
                }

            }

            .quantity-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .quantity-label {
                    font-weight: bold;
                }

                .quantity-input-and-buttons {
                    display: flex;
                    gap: 5px;

                    .quantity-input {
                        width: 50px;
                        height: 25px;
                        border: none;
                        box-shadow: 0 0 4px $primary-color ;
                        border-radius: 5px;
                        text-align: center;
                        line-height: 40px;

                        &:focus {
                            outline: none;
                        }
                    }

                    .quantity-button {
                        border-radius: 5px;
                        border: none;
                        box-shadow: 0 0 4px $primary-color;
                        padding: 3px 8px;
                        cursor: pointer;
                    }
                }


            }

            .action-buttons {
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                .wishlist-button,
                .cart-button {
                    background-color: $primary-color;
                    border: none;
                    color: $white;
                    padding: 8px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: $primary-color-dark;
                    }
                }
            }

        }

    }

    .card-container {
        width: full;
        background-color: white;
        border: #6d6c6c 1px solid;
        border-radius: 10px;
        margin-top: 10px;

        .card-header {
            display: flex;
            align-items: center;
            height: 40px;

            .card-header-title {
                font-size: 10px;
                width: 30%;
                padding: 5px 10px;
            }

            .card-header-box {
                background-color: #D9D9D9;
                width: 70%;
                height: 100%;
                border-top-right-radius: 10px;
            }
        }

        .card-contents {
            padding: 30px 10px;

            .seller-info {
                .seller-profile {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 2rem;
                    
                    .img-holder {
                        padding: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        overflow: hidden;
                        width: 30px;
                        height: 30px;
                        background-color: $primary-color;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .seller-description {
                    padding: 5px 0;
                }
            }

            .reviews-card {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h2 {
                    margin-top: 30px;
                }

                .reviews-header {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .reviews-top-stars {
                        display: flex;
                        gap: 5px;
                    }
                }

                .reviews {
                    .review-card {
                        margin: 10px 0;
                        padding: 10px 5px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .reviewer-profile {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 1rem;

                            .img-holder {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                overflow: hidden;
                                width: 30px;
                                height: 30px;
                                background-color: $primary-color;
                                padding: 3px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .review-contents {
                            margin-left: 10px;

                            .stars-container {
                                padding: 5px 0;
                            }

                            .review-date {
                                font-size: 1rem;
                                color: $secondary-color;
                            }

                            .review-feedback {
                                padding: 5px 0;
                            }
                        }

                    }
                }
            }
        }
    }


}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.error-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;

    p {
        font-size: 20px;
        color: $red-color;
    }

    .btn-link {
        border: none;
        background-color: $primary-color;
        padding: 1rem 4rem;
        text-decoration: none;
        color: $white-color;
        font-family: $text-family;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 2rem;
        cursor: pointer;
    }

    .btn-link:hover {
        background-color: $white-color;
        color: $primary-color;
        border: 1px solid $border-color;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 1024px) {
    .product-component {
        * {
            font-size: 12px;
        }

        .product-container {
            flex-direction: column;
            padding-bottom: 20px;
            padding-right: 0;

            .images-container {
                max-height: 400px;
                min-height: 400px;
                overflow: hidden;
                flex-direction: column-reverse;
                gap: 10px;

                .thumbnails-container {
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    height: 80px;

                    .thumbnail-image {
                        width: 70px;
                        height: 70px;
                    }
                }

                .main-image-container {
                    min-width: 100%;
                    max-width: 100%;
                    max-height: 400px;
                    min-height: 400px;

                    .main-image {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        .card-container {
            .card-header {
                .card-header-title {
                    font-size: 5px;
                }
            }
        }
    }
}