@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  line-height: 1;
  color: $text-color;
}

.container {
  max-width: 150rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: #3b5bdb;
}

::-webkit-scrollbar-thumb {
  background-color: #228be6;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3897e9;
}
