@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none;
  border: none
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  line-height: 1;
  color: $text-color;
}

.container {
  max-width: 150rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.mini-container {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0.2rem;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: $primary-color-light;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
}