.Toastify__toast-container {
    z-index: 100;
    width: 380px;
    font-size: 1.5rem;
    font-weight: 500;
    .Toastify__toast--success {
      font-size: medium;
      text-align: center;
      color: $white;
      background: $toastify-color-success;
    }
    .Toastify__toast--info {
      color: $white-color;
      text-align: center;
      background: $toastify-color-info;
    }
    .Toastify__toast--warning {
      text-align: center;
      color: yellow;
      background: gray;
    }
    .Toastify__toast--error {
      color: rgb(178, 3, 3);
      text-align: center;
      background:$toastify-color-error;
    }
    .Toastify__progress-bar--info {
        background: blue;
      }
      .Toastify__progress-bar--success {
        background: $primary-color-light;
      }
      .Toastify__progress-bar--warning {
        background: var(--toastify-color-progress-warning);
      }
      .Toastify__progress-bar--error {
        background: $red-color;
      }
      .Toastify__toast-icon{
        svg{
            fill: white;
        }
      }
  }