$order-details-font-color: #f6820d;
$delivery-timeline-color: #ccc;
$circle-color: #f6820d;
$text-color: #333;
$text-family: 'Averia Serif Libre';


.order-details-container {
  display: flex;
  width: 95%;
  font-family: $text-family;
  font-size: 1.5rem;
  background-color: #f9f9f9;
}

.order-details, .delivery-timeline {
  margin-left: 5%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
}
.order-details h2{
  color: #f6820d;
}
.order-details h2, .delivery-timeline h2 {
  margin-bottom: 20px;
}

.order-details {
  .description {
    display: flex;
    gap: 20px;
  }

  p {
    margin: 30px 0;

  }

  img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px 0;
    background-color: #ddd;
  }
}

.delivery-timeline {
  .heading {
    background-color: #D9D9D9;
    height: 30px;
    text-align: center;

    h3 {
      margin: 0;
      line-height: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    position: relative;
    margin-left: 20px;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      height: 90%;
      width: 2px;
      background: #D9D9D9;
    }
  }

  li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
    margin-bottom: 40px;

    .circle {
      width: 20px;
      height: 20px;
      background-color: $circle-color;
      border-radius: 50%;
      margin-right: 10px;
      z-index: 1;

    }

    p {
      margin: 0;
      color: $text-color;
    }

    span {
      display: block;
      color: $delivery-timeline-color;
    }

    &:last-child::after {
      content: '';
      position: absolute;
      left: 10px;
      top: 20px;
      height: calc(100% - 20px);
      width: 2px;
      background: transparent;
    }
  }

  h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
}