@import "./Colors";

.profile-container {
  font-size: 15px;
  padding: 1.5rem 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: white;
    height: 40px;
    padding: 0 20px;

    button {
      padding: 8px 32px;
      border-radius: 25px;
      border: none;
      height: 35px;
      color: $primary-color;
      font-size: 16px;
    }
  }

  .profile-details {
    padding: 0 2rem !important;
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 23px;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .input-layout {
          border: 1px solid $primary-color;
          position: relative;
          padding: 0 12px;
          width: 32rem;
          height: 36px;
          display: flex;
          flex-direction: column;
          margin-bottom: 12px;
          border-radius: 3px;

          label {
            position: absolute;
            top: -10px;
            background-color: white;
            padding: 0 5px;
          }

          input {
            border: none;
            outline: none;
            font-size: 15px;
            margin-top: 10px;
          }
          div{
            margin-top: 10px;
          }
        }

        .select-layout {
          display: flex;
          align-items: center;
          border: 1px solid $primary-color;
          height: 36px;
          border-radius: 3px;

          select {
            padding: 10px 2px;
            border-color: $primary-color;
            outline: $primary-color;
          }

          input {
            padding: 8px 16px;
            outline: none;
            border: none;
          }
        }
      }

      .profile-pic {
        position: relative;

        .profile-image {
          width: 20rem;

          img {
            height: 20rem;
            width: 100%;
            border-radius: 50%;
          }
        }

        .img-uploader {
          position: absolute;
          width: 5.5rem;
          height: 5.5rem;
          right: 7rem;
          top: 17rem;
          z-index: 10;

          img {
            width: 100%;
            background: #fff;
            border-radius: 50%;
          }
        }
      }

      .right-side {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .options {
          border: 1px solid $primary-color;
          position: relative;
          padding: 0 12px;
          width: 32rem;
          height: 36px;
          display: flex;
          flex-direction: column;
          margin-bottom: 12px;
          border-radius: 3px;

          label {
            position: absolute;
            top: -10px;
            background-color: white;
            padding: 0 5px;
          }

          select {
            font-size: 15px;
            margin-top: 10px;
            outline: none;
            border: none;
            color: $primary-color;

            option {
              color: #444444;
            }
          }
        }

        .input-d {
          position: relative;
          border: 1px solid $primary-color;
          height: 32px;
          padding: 0 12px;
          border-radius: 3px;

          label {
            position: absolute;
            top: -10px;
            background-color: white;
            padding: 0 5px;
          }

          input {
            border: none;
            outline: none;
            font-size: 15px;
            margin-top: 8px;
            color: $primary-color;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .password-container {
    padding: 0 2rem !important;
    .password {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .password-inp {
        border: 1px solid $primary-color;
        position: relative;
        padding: 0 12px;
        width: 32rem;
        height: 36px;
        border-radius: 3px;

        label {
          position: absolute;
          top: -10px;
          background-color: white;
          padding: 0 5px;
        }

        .input-n {
          display: flex;
          align-items: center;

          input {
            border: none;
            outline: none;
            font-size: 15px;
            margin-top: 10px;
            width: 100%;
            padding: 0 4px;
          }

          span {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .shipping-address {
    padding: 0 2rem !important;

    .shipping {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .select-inp {
        border: 1px solid $primary-color;
        position: relative;
        padding: 0 12px;
        width: 32rem;
        height: 36px;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        margin-bottom: 32px;

        label {
          position: absolute;
          top: -10px;
          background-color: white;
          padding: 0 5px;
        }

        select {
          font-size: 15px;
          margin-top: 10px;
          outline: none;
          border: none;
          color: $primary-color;

          option {
            color: #444444;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .profile-container {

    .title {
      font-size: 10px;

      button {
        height: 5rem;
        font-size: 12px;
        padding: 0 8px;
      }
    }

    .details {
      flex-direction: column;
      gap: 30px;
      padding: 0;

      .input-container {
        width: 100%;

        .input-layout {
          padding: 0;
          width: 100%;
        }
      }
    }

    .password {
      flex-direction: column;
      gap: 20px;
    }

    .shipping {
      flex-direction: column;
    }
  }
}