
.wishListPage{
    margin-top: 10px;
     display: flex;
     flex-direction: column;

    .top{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        gap: 75%;
        .delete{
            display: flex;
            gap: 5px;
            border: none;
            font-family: $text-family;
            background-color: $primary-color;
            color: $white;
            font-size: 1.5rem;
            padding: 0.4rem;
            width: 110%;
            border-radius: 10px;
            cursor: pointer;
        }
        
    }
    .wishlistProducts {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
        gap: 1.7rem;
      }

}
